* {
    box-sizing: border-box;
}

body {
    color: black;
    text-align: center;
}

h1 {
    padding-top: 50px;
}

h4 {
    color: black;
}

.container {
    text-align: left;
}

.apps {
    text-align: center;
}

.col-sm-12 {
    margin: 20px auto;
}

.container ul  {
    list-style:none;
}

.ss1, .ss2 {
    text-decoration: underline;
}

.ss1:hover, .ss2:hover {
    color: red;
    cursor: pointer;
}

.ss1a, .ss1b, .ss1c, .ss2a, .ss2b, .ss2c, .ss2d {
    display: none;
    text-decoration: underline;
}

.ss1a:hover, .ss1b:hover, .ss1c:hover, .ss2a:hover, .ss2b:hover, .ss2c:hover, .ss2d:hover {
    color: red;
    cursor: pointer;
}

a:hover {
    color: red;
}

.block {
    display: block;
}

i {
    margin-right: 5px;
}

i:hover {
    cursor: pointer;
}

h3 {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.submit a {
    color: white;
}

.submit {
    margin-bottom: 20px;
}

@media (max-width: 470px) {
    .col1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .col2 {
        text-align: center;
    }
  }